<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>My Pariwisata</h5>
        <p>
          My Pariwisata adalah sebuah website yang menyediakan informasi tempat
          wisata di Indonesia.
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contact</h5>
        <p>
          Jl. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          quos, quas, quae, quidem voluptates quia
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 My Pariwisata
  </div>
</footer>
