<%- include("layout", { title: title, body: `
<h1>Selamat datang di website Pariwisata</h1>
<p>
  Website ini dibuat untuk memudahkan anda dalam mencari informasi tentang paket
  wisata yang kami tawarkan.
</p>
<p>
  Anda bisa melihat paket wisata yang kami tawarkan dengan mengklik tombol di
  bawah ini.
</p>
<a href="/paketwisata" class="btn btn-primary">Lihat Paket Wisata</a>
` }) %>
